model_finetuning/ai-response-intent-finetuning/AI_response_style_detector/Model/fine_tuned_model/* filter=lfs diff=lfs merge=lfs -text
model_finetuning/illness_prediction/Predictive_model/data_set/processed_data/preprocessed_data1.csv filter=lfs diff=lfs merge=lfs -text
model_finetuning/illness_prediction/Predictive_model/data_set/raw_data filter=lfs diff=lfs merge=lfs -text
model_finetuning/illness_prediction/Predictive_model/model filter=lfs diff=lfs merge=lfs -text
